body,
html {
  height: 100%;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.bg-featured-blog {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
}

#botaoi{
  background-color: #FA1B4A;
  
}

#bod{
  background-color: #06357a;
}

#link-topo{
  text-decoration: none;
  color: white;
  background-color: #FA1B4A;
  padding: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: grey;
  }

  select, button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: #003F2E;
}

button {
    margin-bottom: 10px;
    background-color: #FA1B4A;
    color: #E6E6DE;
    border-radius: 5px;
}



#inputsContainer, #resultsContainer, #infoContainer {
    background-color: #121317;
    color: gray;
    border-radius: 5px;
    display: table;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}

#resultsContainer, #infoContainer {
    text-align: center;
    line-height: 150%;
    padding: 5px 0px 5px 0px;

    visibility: collapse;
}

table{
    align-items: center;
}